<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Gasto</title>
</head>
<body>
    <div>
        <h2>Agregar Gasto</h2>
        <form method="POST" action="{{ url_for('procesar_gasto') }}">

            <div>
                <label for="nombre">Nombre:</label>
                <select name="nombre" id="nombre" required>
                    <option value="">Seleccionar</option> <!-- Opción vacía para comenzar -->
                    <option value="Andres_quispe">Andrés Quispe</option>
                    <option value="Jorge_Lozano">Jorge Lozano</option>
                    <option value="Favio_Vera">Favio Vera</option>
                </select>
            </div>

            <div>
                <label for="descripcion">Descripción:</label>
                <textarea name="descripcion" id="descripcion" rows="4" cols="50" required></textarea>
            </div>
            <div>
                <label for="cantidad">Cantidad:</label>
                <input type="number" name="cantidad" id="cantidad" step="0.01" required>
            </div>
            <div>
                <label for="tipo">Tipo:</label>
                <select name="tipo" id="tipo" required>
                    <option value="">Seleccionar</option> <!-- Opción vacía para comenzar -->
                    <option value="GASTO">GASTO</option>
                    <option value="INGRESO">INGRESO</option>
                </select>
            </div>
            <div>
                <label for="clase">Clase:</label>
                <select name="clase" id="clase" required>
                    <option value="">Seleccionar</option> <!-- Opción vacía para comenzar -->
                    <option value="Muebles">colegio</option>
                    <option value="Extra_educacion">extra_edu</option>
                    <option value="Otros">restaurante</option>
                    <option value="Publicidad">gasolina</option>
                    <option value="tecnología">tecnología</option>
                    <option value="Consumible">regalos</option>
                </select>
            </div>
            <div>
                <label for="fecha">Fecha:</label>
                <input type="date" name="fecha" id="fecha" required>
            </div>
            <button type="submit">Guardar</button>
        </form>
    </div>
</body>
</html>
