<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h2>Login</h2>
        <form method="POST" action="/login">
            <div>
                <input type="text" name="username" placeholder="Username">
            </div>

            <div>
                <input type="password" name="password" placeholder="Password">
            </div>
            <button type="submit">Go</button>
            <span></span>
            <span></span>
            <span></span>
            Submit
        </form>
    </div>
</body>
</html>